@using NameThatWrap.Models
@model RegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>
        <h3>Register</h3><br/>
        @using(Html.BeginForm("Register", "Account"))
        {
            @Html.ValidationSummary()
            <span>First Name:</span> @Html.TextBoxFor(m => m.FirstName) @Html.ValidationMessageFor(m => m.FirstName) <br/>
            <span>Last Name:</span> @Html.TextBoxFor(m => m.LastName) @Html.ValidationMessageFor(m => m.LastName) <br/>
            <span>Email:</span> @Html.TextBoxFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email) <br/>
            <span>Phone:</span> @Html.TextBoxFor(m => m.Phone) @Html.ValidationMessageFor(m => m.Phone) <br/>
            <span>Password:</span> @Html.TextBoxFor(m => m.Password) @Html.ValidationMessageFor(m => m.Password) <br/>
            <input type="submit" value="Register!"/>
        }
    </div>
</body>
</html>
