@using NameThatWrap.Models;
@using NameThatWrap.data;

@model NameThatWrap.data.User
@{
    ViewBag.Title="Register";
    Layout = "../Shared/_Layout.cshtml";
}


<body>
    <div class="form">
        <h3>Register:</h3>
        @using(Html.BeginForm("Register", "Account"))
        {
            @Html.ValidationSummary()
            <label>First Name:</label> @Html.TextBoxFor(m => m.FirstName) @Html.ValidationMessageFor(m => m.FirstName)<br/>
            <label>Last Name:</label> @Html.TextBoxFor(m => m.LastName) @Html.ValidationMessageFor(m => m.LastName)<br/>
            <label>Email:</label> @Html.TextBoxFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)<br/>
            <label>Password:</label> @Html.PasswordFor(m => m.Password) @Html.ValidationMessageFor(m => m.Password)<br/>
            <input type="submit" value="Register!"/>
        }
    </div>
</body>
